<!DOCTYPE html>
<html>
  <body>
    <div *ngIf="!confirm">
      <div class="form-group">
        <!-- 1) Choose the course name -->
        <h1>Add a Course</h1>
        <h2>Department</h2>
        <select class="form-control" [(ngModel)]="courseName" name="courseName" (focus)="cache()" (change)="getCourseNumOptions()">
          <option selected hidden></option>
          <option *ngFor="let cname of courseNameOptions">{{cname}}</option>
        </select>
    
        <!-- 2) Choose the course number -->
        <div *ngIf="courseNumOptions">
          <h2>Course Number</h2>
          <select class="form-control" [(ngModel)]="courseNum" name="courseNum" (change)="getCourseChoiceOptions()">
            <option selected hidden></option>
            <option *ngFor="let cid of courseNumOptions"> {{cid}}</option>
          </select>
        </div>
    
        <!-- 3) Choose the class -->
        <div *ngIf="courseChoiceOptions">
          <h2>Course</h2>
          <select class="form-control" [(ngModel)]="courseChoice" name="courseChoice">
            <option selected hidden></option>
            <option *ngFor="let cchoice of courseChoiceOptions" [ngValue]="cchoice"> {{courseName}} {{cchoice.num}} |  #{{cchoice.sec}} {{cchoice.day}} {{cchoice.time}} {{cchoice.location}}</option>
          </select>
        </div>
      </div>

      <!-- Options for adding or backing to Schedule Component -->
      <div>
        <button class="btn btn-primary cancel" (click)="onBack()">
            <span class="fa fa-chevron-left" aria-hidden="true"></span> Back
        </button>
        <button class="btn btn-default submit" (click)="onSubmit()">
          <span class="fa fa-plus" aria-hidden="true"></span> Add Course
        </button>
      </div>
    </div>
    
    <!-- Options for confirming or canceling course addition -->
    <div *ngIf="confirm" id="confirm" style="text-align: center">
      <h1>Are you sure you want to add?</h1>
      <h2>{{confirmMessage}}</h2>
      <div>
        <button class="btn btn-default btn-primary" style="width: 33%" (click)="addClick(true)">
          <span class="fa fa-check" aria-hidden="true"></span> Yes
        </button>
        <button class="btn btn-primary" style="width: 33%" (click)="addClick(false)">
          <span class="fa fa-remove" aria-hidden="true"></span> No
        </button>
      </div>
    </div>
  </body>
</html>
