<!DOCTYPE html>
<html>
  <body>
    <form *ngIf="!confirm">
      <div class="form-group">
        <!-- 1) Choosing the course name -->
        <h1>Add a Course</h1>
        <h2>Department</h2>
        <select class="form-control" [(ngModel)]="courseName" name="courseName" (focus)="cache()" (change)="getCourseNumOptions()">
          <option selected hidden></option>
          <option *ngFor="let cname of courseNameOptions">{{cname}}</option>
        </select>
    
        <!-- 2) Choosing the course number -->
        <div *ngIf="courseNumOptions">
          <h2>Course Number</h2>
          <select class="form-control" [(ngModel)]="courseNum" name="courseNum" (change)="getCourseChoiceOptions()">
            <option selected hidden></option>
            <option *ngFor="let cid of courseNumOptions"> {{cid}}</option>
          </select>
        </div>
    
        <!-- 3) Finally choosing a class -->
        <div *ngIf="courseChoiceOptions">
          <h2>Course</h2>
          <select class="form-control" [(ngModel)]="courseChoice" name="courseChoice">
            <option selected hidden></option>
            <option *ngFor="let cchoice of courseChoiceOptions" [ngValue]="cchoice"> {{courseName}} {{cchoice.num}} |  #{{cchoice.sec}} {{cchoice.day}} {{cchoice.time}} {{cchoice.location}}</option>
          </select>
        </div>
      </div>
      <input type="button" class="btn btn-primary" style="width : 33%" value="Add Course" (click)="onSubmit()">
    </form>
      
    <div *ngIf="confirm" id="confirm">
      <h1>Are you sure you want to add?</h1>
      <h2>{{confirmMessage}}</h2>
      <div>
        <input type="button" class="btn btn-primary" style="width : 33%" value="Yes" (click)="addClick(true)">
        <input type="button" class="btn btn-primary" style="width : 33%" value="No" (click)="addClick(false)">
      </div>
    </div>
  </body>
</html>
