<h2 class= "page-header">Search for an empty classroom</h2>

<table style="width:100%">
  <tr>
    <th>Building</th>

    <!-- <li class= "list-group-item">Building: {{buildings.name}}</li> -->
  </tr>
</table>

<!-- <div *ngFor="let obj of buildings"> {{obj.name}}
<p *ngFor="let rachel of obj.rooms"> {{ rachel.name}}</p>
</div> -->

<div class="btn-group">
  <a href="#" class="btn btn-default">Buildings</a>
  <a href="/findclassroom" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/findclassroom">Action</a></li>
    <li *ngFor="let obj of buildings"> {{obj.name}}</li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
