<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <!-- Show if no rooms available -->
        <h1 *ngIf="!show">No rooms currently available in {{name}}</h1>
        <div id="nowTimes">
            <!-- Show if rooms are available -->
            <ng-container *ngIf="show">
                <h2 *ngFor="let room of roomsList" (click)="showRoom(name, room.name)">
                    Room: {{room.name}} from {{room.st}} until {{room.et}}
                </h2>
            </ng-container>
        </div>

        <!-- Show when room is clicked -->
        <app-room id="room2" style="display: none" building={{buildingName}} room={{roomNumber}}></app-room>
    </body>
</html>
