<div style="text-align: center">
  <button (click) = "show('omon')" class="btn btn-primary" style="width:24%"> Monday</button> 
  <button (click) = "show('otue')" class="btn btn-primary" style="width:24%"> Tuesday</button> 
  <button (click) = "show('owed')" class="btn btn-primary" style="width:24%"> Wednesday</button> 
  <button (click) = "show('othu')" class="btn btn-primary" style="width:24%"> Thursday</button>
</div>
<nouislider [config]="timeSliderConfig" [(ngModel)]="timeRange" (ngModelChange)="onChange($event)" [ngModelOptions]="{standalone: true}" id="slider" style="margin-left: auto; margin-right: auto"></nouislider>
<div class="tablecontainer" id="table" style="display: none">
  <table>
    <tbody>
      <tr>
        <th></th>
        <!--<td colspan="12">12:00 AM</td>
        <td colspan="12">1:00 AM</td>
        <td colspan="12">2:00 AM</td>
        <td colspan="12">3:00 AM</td>
        <td colspan="12">4:00 AM</td>
        <td colspan="12">5:00 AM</td>
        <td colspan="12">6:00 AM</td>
        <th colspan="12">7:00 AM</th>
        <th colspan="12">8:00 AM</th>-->
        <th colspan="12">9:00 AM</th>
        <th colspan="12">10:00 AM</th>
        <th colspan="12">11:00 AM</th>
        <th colspan="12">12:00 PM</th>
        <th colspan="12">1:00 PM</th>
        <th colspan="12">2:00 PM</th>
        <th colspan="12">3:00 PM</th>
        <th colspan="12">4:00 PM</th>
        <th colspan="12">5:00 PM</th>
        <th colspan="12">6:00 PM</th>
        <th colspan="12">7:00 PM</th>
        <th colspan="12">8:00 PM</th>
        <th colspan="12">9:00 PM</th>
        <!--<th colspan="12">10:00 PM</th>
        <th colspan="12">11:00 PM</th>-->
      </tr>
      <tr class="classroom" *ngFor="let rooms of buildingTimes">
        <th class="left-column">{{rooms.building}}-{{rooms.name}}</th>
        <!-- Potential place for index of for loop -->
        <td *ngFor="let room of rooms?.room" [ngClass]="room ? 'opentime' : 'closedtime'"></td>
      </tr>
    </tbody>
  </table>
</div>