table {
    width : 2500px;
    height : 250px;
}

.tablecontainer {
    width : 100%;
    height : 100%;
    overflow : auto;
    padding : 0, 0, 0, 0;
}

.opentime {
    background-color : blue;
    padding : 5px, 5px, 5px, 5px;
}

.closedtime {
    background-color : gold;
    padding : 5px, 5px, 5px, 5px;
}