table {
  width : 2000px;
  height : auto;
}

tr{
height: 20px;
}

td{
border-collapse: collapse;
}

.tablecontainer {
  width : 100%;
  height : 100%;
  overflow : auto;
  padding : 0, 0, 0, 0;
}

.opentime {
  background-color : #81ea9d;
  padding : 5px, 5px, 5px, 5px;
  border: 2px solid black;
}

.closedtime {
  background-color : #ed5d50;
  padding : 5px, 5px, 5px, 5px;
  border: 2px solid black;
}

.five-minute-chunk{
  position: relative;
  z-index: 1;
}

/*tool tip for each square*/
.five-minute-chunk:hover .time-tool-tip{
  width: 75px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /*padding: 5px 0;*/
  position:absolute;/*this is messing up when scrolling to the right, like wtih an offset for some reason*/
  top: -20px;
  left: 20px;
  z-index: 1;
  visibility: visible;
  display: block;
}

.time-tool-tip{
visibility: hidden;
z-index: 20;
/* display: none; */ /* This is making the cells small. */
}

.five-minute-chunk:hover .time-tool-tip{
  visibility: visible;
}

.left-column{
position: sticky;
left: 0;
top: -50;
background-color: #ffffff;
width: 100px;
border: 2px solid black;
text-align: center;
z-index: 20;
}

.left-column:hover {
background-color: #76a8f7;
}
