<h2 class="page-header">Open Buildings</h2>
<form (submit)="onSubmit()" id="input" style="display: block">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" [(ngModel)]="name" name="name">
  </div>
  <div class="form-group">
    <label>Day</label>
    <select class="form-control" [(ngModel)]="day" name="day" >
      <option value="Monday">Monday</option>
      <option value="Tuesday">Tuesday</option>
      <option value="Wednesday">Wednesday</option>
      <option value="Thursday">Thursday</option>
    </select>
  </div>
  <input type="submit" class="btn btn-primary">
</form>

<div class="tablecontainer" id="table" style="display: none">
  <table>
    <tbody>
      <tr>
        <td></td>
        <td colspan="12">12:00 AM</td>
        <td colspan="12">1:00 AM</td>
        <td colspan="12">2:00 AM</td>
        <td colspan="12">3:00 AM</td>
        <td colspan="12">4:00 AM</td>
        <td colspan="12">5:00 AM</td>
        <td colspan="12">6:00 AM</td>
        <td colspan="12">7:00 AM</td>
        <td colspan="12">8:00 AM</td>
        <td colspan="12">9:00 AM</td>
        <td colspan="12">10:00 AM</td>
        <td colspan="12">11:00 AM</td>
        <td colspan="12">12:00 PM</td>
        <td colspan="12">1:00 PM</td>
        <td colspan="12">2:00 PM</td>
        <td colspan="12">3:00 PM</td>
        <td colspan="12">4:00 PM</td>
        <td colspan="12">5:00 PM</td>
        <td colspan="12">6:00 PM</td>
        <td colspan="12">7:00 PM</td>
        <td colspan="12">8:00 PM</td>
        <td colspan="12">9:00 PM</td>
        <td colspan="12">10:00 PM</td>
        <td colspan="12">11:00 PM</td>
      </tr>
      <tr *ngFor="let rooms of roomsList">
        <td>{{rooms.name}}</td>
        <td *ngFor="let room of rooms?.room" [ngClass]="room ? 'opentime' : 'closedtime'"></td>
      </tr>
    </tbody>
  </table>
</div>
<input type="button" class="btn btn-primary" (click)="onBack()" id="back" style="display: none" value="Back">