<h1> <strong> Find Open Classroom </strong></h1>
<button (click) = "showMonday()"> Monday</button> <button (click) = "showTuesday()"> Tuesday</button> <button (click) = "showWednesday()"> Wednesday</button> <button (click) = "showThursday()"> Thursday</button>



<h3>  Select Your Building </h3>

<!-- this creates a drop down list of buildings -->
<select [(ngModel)]="$index" (ngModelChange)="onChange($event)">
  <option *ngFor="let buildingName of buildings"> {{buildingName.name}} </option>
</select>

<!-- I have not been able to get ng-options or ng-repeat to work-->
<!-- <select ng-model="selectedBuilding">
<option ng-repeat="x in Buildings" value="{{x.name}}">{{x.name}}</option>
</select> -->
<div *ngIf = "monday">
<h2>{{currentBuilding?.name}} Building</h2>

      <!--if i create a day value i should be able to *ngIf this -->
      <!-- <li><strong>Monday</strong></li> -->
      <ul>
        <li *ngFor="let room of currentBuilding?.rooms">
          <!-- display bug if room has no classes ex EN3-111 on monday-->
          <!-- not sure how to display this based on if it has a value or not later on in the loops -->
          {{currentBuilding.name}} - {{room.name}}
          <ul>
            <!--if i create a day value i should be able to *ngIf this -->
            <!--will need to adapt for open times-->
            <li *ngFor = "let class of room.otue">

                Open From:  {{(class.st-class.st%60)/60}}:{{class.st%60 | number:'2.0-0'}} -
                {{(class.et-class.et%60)/60}}:{{class.et%60 | number:'2.0-0'}}

            </li>
          </ul>
        </li>
    </ul>
</div>

<div *ngIf = "tuesday">
<h2>{{currentBuilding?.name}} Building</h2>

      <!--if i create a day value i should be able to *ngIf this -->
      <!-- <li><strong>Monday</strong></li> -->
  <ul>
    <li *ngFor = "let room of currentBuilding?.rooms">
      <!-- display bug if room has no classes ex EN3-111 on monday-->
      {{currentBuilding.name}} - {{room.name}}
      <ul>
        <!--if i create a day value i should be able to *ngIf this -->
        <!--will need to adapt for open times-->
        <li *ngFor = "let class of room.otue">

            Open From:  {{(class.st-class.st%60)/60}}:{{class.st%60 | number:'2.0-0'}} -
            {{(class.et-class.et%60)/60}}:{{class.et%60 | number:'2.0-0'}}

        </li>
      </ul>
    </li>
  </ul>
</div>

<div *ngIf = "wednesday">
<h2>{{currentBuilding?.name}} Building</h2>

      <!--if i create a day value i should be able to *ngIf this -->
      <!-- <li><strong>Monday</strong></li> -->
  <ul>
    <li *ngFor = "let room of currentBuilding?.rooms">
      <!-- display bug if room has no classes ex EN3-111 on monday-->
      {{currentBuilding.name}} - {{room.name}}
      <ul>
        <!--if i create a day value i should be able to *ngIf this -->
        <!--will need to adapt for open times-->
        <li *ngFor = "let class of room.owed">

            Open From:  {{(class.st-class.st%60)/60}}:{{class.st%60 | number:'2.0-0'}} -
            {{(class.et-class.et%60)/60}}:{{class.et%60 | number:'2.0-0'}}

        </li>
      </ul>
    </li>
  </ul>
</div>

<div *ngIf = "thursday">
<h2>{{currentBuilding?.name}} Building</h2>

      <!--if i create a day value i should be able to *ngIf this -->
      <!-- <li><strong>Monday</strong></li> -->
  <ul>
    <li *ngFor = "let room of currentBuilding?.rooms">
      <!-- display bug if room has no classes ex EN3-111 on monday-->
      {{currentBuilding.name}} - {{room.name}}
      <ul>
        <!--if i create a day value i should be able to *ngIf this -->
        <!--will need to adapt for open times-->
        <li *ngFor = "let class of room.othu">

            Open From:  {{(class.st-class.st%60)/60}}:{{class.st%60 | number:'2.0-0'}} -
            {{(class.et-class.et%60)/60}}:{{class.et%60 | number:'2.0-0'}}

        </li>
      </ul>
    </li>
  </ul>
</div>
