/* You can add global styles to this file, and also import other style files */
@import "~nouislider/distribute/nouislider.min.css";

.btn-primary {
    color: #333333;
    background-color: #edaa00;
    border: none;
}

.btn-primary:hover {
    color: #333333;
    background-color: #db9d00;
    border: none;
}

.btn-primary:active {
    color: #333333 !important;
    background-color: #cc9200 !important;
    border: none;
}

.btn-default {
    color: #edaa00;
    background-color: #333333;
    border: none;
}

.btn-default:hover {
    color: #edaa00;
    background-color: #222222;
    border: none;
}

.btn-default:active {
    color: #edaa00 !important;
    background-color: #000000 !important;
    border: none;
}