MongoDB (Stable Release (3.4.2) = Windows Server 2008 R2 64-bit and later, with SSL support x64)
Express
AngularJS (TODO)
Nodejs (v7.7.4)

YOU NEED TODO THIS:

npm install -g nodemon <-- allows for quick local server updating after file save
npm install when in the ../openclassroom/open-classroom
(possibly need) npm install -g ng

Install postman or something else <-- to handle post requests

To get it running:
1) run mongod.exe in a command prompt
2) run nodemon in a command prompt in the ../openclassroom/open-classroom folder
3) npm start in a command prompt in the ../openclassroom/open-classroom/angular-src folder