<div class='navbar'>
<ul>
    <li id='1'><button [routerLink]="['/']" >Home</button></li>
    <li *ngIf = "authService.loggedIn()" id='2'><button [routerLink]="['/profile']">Profile</button></li>
    <li *ngIf = "authService.loggedIn()" id='3'><button [routerLink]="['/dashboard']">Dashboard</button></li>
    <li id='4'><button>Something</button></li>
    <li *ngIf = "authService.loggedIn()" id='5'><button (click) = "onLogoutClick()" href="#">Logout</button></li>
</ul>
</div>

<!-- This is for navbar: https://www.w3schools.com/css/css_navbar.asp -->
<!-- TODO: redirect http://plnkr.co/edit/w2aolrt9wdW3EFcEB3Lw?p=preview-->
