h2 {
    padding-bottom: 5px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    font-size: 30px;
}

h2:after {
    content: "";
    display: block;
    border-bottom: 1px solid #FFD07F;
}

p {
    padding-left: 10%;
    padding-right: 10%;
}

.ol2 {
    padding-left: 12%;
    padding-right: 12%;
}

img {
    width:100%;
    height:auto;
    border-radius: 7px;
    border:1px solid black;
}

li {
    font-weight : bold;
}

.nobold {
    font-weight : normal;
}