.grid {
    display: grid;
    grid-template-columns: 2.5% 95% 2.5%;
    grid-template-rows: 50px 100%;
}

.grid app-navbar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.grid div {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}