.main-grid {
    display: grid;
    grid-template-columns: 2.5% 95% 2.5%;
    grid-template-rows: 50px 50px 100%;
    grid-template-areas: 
        "nav    nav     nav"
        "fm     fm      fm"
        ".      ro      .";
    text-align: center;
    padding-bottom: 50px;
}

.main-grid app-navbar {
    grid-area: nav;
}

.main-grid flash-messages {
    grid-area: fm;
}

/* Used to circumvent router-outlet issue */
.main-grid div {
    grid-area: ro;
    border: 2px black solid;
}