<!DOCTYPE html>
<html>
  <head></head>
  <body class="home-grid">
    <div class="jumbotron">
      <h1>Open Classroom</h1>
      <h2>Find available classrooms for your studying needs</h2> 
      
      <div *ngIf = "!userService.loggedIn()">
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
      </div>
      <div *ngIf = "userService.loggedIn()">
        <a class="btn btn-primary" [routerLink]="['/schedule']">View My Schedule</a> <a class="btn btn-default" [routerLink]="['/findclassroom']">Find Open Classroom</a>
      </div>

      <div>
        <p>
          <br /><a [routerLink]="['/usermanual']">User Manual</a> | <a [routerLink]="['/devguide']">Dev Guide</a> 
        </p>
      </div>
    </div>
    <div class="home-content">
      <div class="content-1">
        <h3>Find the Best Study Spot!</h3>
        <p>Find open rooms by building, right now, or by time.</p>
      </div>
      <div class="content-2">
        <h3>Study with fellow Study Buddies!</h3>
        <p>Find others in the same program to study with.</p>
      </div>
      <div class="content-3">
        <h3>Share Class Notes!</h3>
        <p>Share notes to get an edge on the competition.</p>
      </div>
    </div>
  </body>
</html>
