.jumbotron {
    text-align: center;
}

.btn {
    width: 15rem;
    margin-bottom: 5px;
}

.home-content {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 100% 100% 100%;
    grid-template-areas:
        "content-1"
        "content-2"
        "content-3";
}

/* For Desktop 600px+ */
@media (min-width: 600px) {    
    .home-content {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-areas: "content-1 content-2 content-3";
    }
}