<!DOCTYPE html>
<html>
  <head>
    <title> Developer Guide </title>
  </head>
  <body>
    <!-- Title of the Page -->
    <h1 class="page-header" style="text-align: center;">Developer Guide</h1>

    <!-- What is the application about? -->
    <h2> What is Open Classroom? </h2>
    <p> As students, we have personally had issues finding open classrooms to study in. 
        To add insult to injury, physical classroom listings are either out of date or 
        inaccurate. Our goal is to provide students an application where they can find 
        which classrooms and labs are open. </p>
    <p> Currently, students have no easy way to find this out. They must chance upon a 
        room or search physically until they find one. We want to provide a listing of 
        what rooms are open to make the lives of students easier. In addition, students 
        will be able to upload their schedules and the system will suggest where they 
        will be able to study. There will be social elements where students can find 
        other people to study with, whether they are in the same class or taking a 
        different section. Chat functionality and note sharing will also be implemented. 
        Furthermore, there will be a way for users to update desired classroom features 
        such as whiteboards or outlets. This application will provide immense benefit 
        to students because they will no longer have to stress, waste time, or debate 
        whether said classroom is open or not.</p>

    <!-- What features are available? -->
    <h2> Features </h2>
    <u>Currently Live</u>
    <ul>
      <li>Register</li>
      <li>Login</li>
      <li>User Schedule</li>
      <li>Get Open Classroom (All Rooms, Right Now, By Times)</li>
      <li>Messaging</li>
      <li>Study Buddy</li>
      <li>Settings</li>
    </ul>
    <u>Future Features</u>
    <ul>
      <li>Open Classroom (Tentative Times)</li>
      <li>User Groups</li>
      <li>File Transfer</li>
    </ul>

    <!-- What actions can be done to get the program up and running? -->
    <h2> Setup </h2>
        <!-- How do you set up the program on your machine? -->
    <u>Installing the Project and its Dependencies</u>
    <ol>
      <li>Download and install NodeJS</li>
      <img src="assets/images/devguide/node.png" style="max-width: 950px;"/>
      <li>Download and install MongoDB</li>
      <img src="assets/images/devguide/mongo.png" style="max-width: 950px;"/>
      <li>Add NodeJS, MongoDB, and NPM to your PATH
        <ol type="a">
          <li>In the start menu, type in "environment" and click on the item labeled "Edit environment variables for your account"</li>
          <img src="assets/images/devguide/environment-1.png" style="max-width: 300px;"/>
          <li>Highlight PATH and click "Edit"</li>
          <img src="assets/images/devguide/environment-2.png" style="max-width: 500px;"/>
          <li>Input the items into your PATH</li>
          <img src="assets/images/devguide/environment-3.png" style="max-width: 500px;"/>
        </ol>
      </li>
      <li>Download / Fork the project onto your computer</li>
      <img src="assets/images/devguide/github.png" style="max-width: 950px;"/>
      <li>In the command prompt, input the command: <code>npm install -g nodemon</code></li>
      <img src="assets/images/devguide/nodemon-1.png" style="max-width: 750px;"/>
      <li>Navigate to the "openclassroom" folder and input the command: <code>npm install</code></li>
      <img src="assets/images/devguide/npm-openclassroom.png" style="max-width: 750px;"/>
      <li>Navigate to the "openclassroom/angular-src" folder and input the command: <code>npm install</code></li>
      <img src="assets/images/devguide/npm-angularsrc.png" style="max-width: 750px;"/>
    </ol>

    <!-- How do you initialize your database? -->
    <u>Initialize Your MongoDB Database</u>
    <ol>
      <li>In the command prommpt, input the command: <code>mongod</code></li>
      <img src="assets/images/devguide/mongod.png" style="max-width: 500px;"/>
      <li>In another command prompt, navigate to the "openclassroom/scraper" folder and input the command: <code>node scraper</code></li>
      <img src="assets/images/devguide/scraper.png" style="max-width: 500px;"/>
      <li>Input the command: <code>node StudyBuddyTesting 1</code></li>
      <img src="assets/images/devguide/studybuddytesting-1.png" style="max-width: 500px;"/>
    </ol>

    <!-- How do you run on Localhost? -->
    <u>Run Your Open Classroom Application on Localhost</u>
    <ol>
      <li>Make sure <code>mongod</code> is running on one of your command prompts</li>
      <li>In another command prompt, navigate to the "openclassroom" folder and input the command: <code>nodemon</code></li>
      <img src="assets/images/devguide/nodemon-2.png" style="max-width: 500px;"/>
      <li>In a third command prompt, navigate to the "openclassroom/angular-src" folder and input the command: <code>ng serve</code></li>
      <img src="assets/images/devguide/ngserve.png" style="max-width: 500px;"/>
      <li>Open a web browser and input <code>localhost:4200</code> in the address bar</li>
      <img src="assets/images/devguide/localhost.png" style="max-width: 300px;"/>
    </ol>

    <!-- How do you add dummy users for chat testing? -->
    <u>Adding Dummmy Users into the Study Buddy</u>
    <ol>
      <li>Make sure your application is running on Localhost (if not, see above)</li>
      <li>In a command prompt, navigate to the "openclassroom/scraper" folder and input the command: <code>mongoimport --db open-classroom --collection users --file dummyUsers.json</code></li>
      <img src="assets/images/devguide/mongoimport.png" style="max-width: 500px;"/>
      <li>In the same folder, input the command: <code>node StudyBuddyTesting</code>
        <br>(Note: This command will be used if the cronjob is not up and running (See below). Currently this function does not end, so once 
        the text stops running, terminate the program using <code>CTRL + C</code>)
        <br><img src="assets/images/devguide/studybuddytesting.png" style="max-width: 500px;"/>
      </li>
      <li>In the same folder, input the command: <code>node studdybuddychron</code>
        <br>(Note: This program will be leveraged as a repeatable task. Until done so, we manually run it while the application is running. 
            Currently this function does not end, so once the text stops running, terminate the program using <code>CTRL + C</code>) 
        <br><img src="assets/images/devguide/studdybuddychron.png" style="max-width: 500px;"/>         
      </li>
    </ol>

    <!-- What are the dependencies or what technologies can be used? -->
    <h2> Dependencies </h2>
    <u>Open Classroom uses the MEAN stack</u>
    <ul>
      <li><a href="https://www.mongodb.com/download-center"> MongoDB </a></li>
      <li><a href="https://github.com/angular/angular-cli"> Angular 2.0</a></li>
      <li><a href="https://github.com/expressjs/express"> ExpressJS </a></li>
      <li><a href="https://nodejs.org/en/download/"> NodeJS </a></li>
    </ul>
    <p><i>(Angular 2.0 and ExpressJS are installed using "ng install". MongoDB and NodeJS shall be installed from their respective websites.)</i></p>
    <u>Helpful Applications</u>
    <ul>
      <li><a href="https://www.gitkraken.com/">GitKraken</a>: "The legendary Git GUI client for Windows, Mac, and Linux"</li>
      <li><a href="https://nodemon.io/">Nodemon</a>: An application that updates your project without having to restart "npm start" or "ng serve" </li>
      <li><a href="https://studio3t.com/download/">Studio 3T</a>: A MongoDB client that displays the data in your database (when connected)</li>
    </ul>

    <h2> [OpenClassroom Project Tree] </h2>
    <ul>
      <li>angular-src (where our angular project resides)
        <ul>
          <li>e2e (for testing)</li>
          <li>node_modules (dependencies installed based on package.json)</li>
          <li>src
            <ul>
              <li>app (location of webpage components)
                <ul>
                  <li>components (modules that are added to the website)</li>
                  <li>guards (protects routes)</li>
                  <li>services (makes post an get requests to aid component requests)</li>
                </ul>
              </li>
              <li>assets</li>
              <li>environments</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>config (where JSON Web Token strategy and database is located)</li>
      <li>models (where the MongoDB collection models and its associated functions reside)</li>
      <li>node_modules (dependencies installed based on package.json)</li>
      <li>routes (location of GET and POST request reside)</li>
      <li>scraper (where MongoDB database collections are created)
        <ul>
        <li>open-classroom-data (JSON file with pre-scraped buildings 2017)</li>
        </ul>
      </li>
    </ul>

    <h2> [How do I contribute?] </h2>
    <p>If you want to contribute to the project, feel free to report bugs, download the source code, or fork the project.</p>
    <ul>
      <li>Source Code: <a href="https://github.com/jonathanpchan/openclassroom">https://github.com/jonathanpchan/openclassroom</a></li>
      <li>Issue Tracker: <a href="https://github.com/jonathanpchan/openclassroom/issues">https://github.com/jonathanpchan/openclassroom/issues</a></li>
    </ul>

    <h2> [Support] </h2>
    <p>If you have any questions, feel free to contact us at <a href="openclassroom2017@gmail.com">openclassroom2017@gmail.com</a>.</p>

    <br>
  </body>
</html>