<!DOCTYPE html>
<html>
  <head>
    <title> Developer Guide </title>
  </head>
  <body>
    <h2 class="page-header" style="text-align: center; font-weight: bold">Developer Guide</h2>
    
    <h3 class="header"> [What is Open Classroom?] </h3>
    <p>As computer science students, we have personally had issues finding open rooms to study in. 
      So we created an app to let students know what classrooms and labs are open. 
      Currently students have no easy way to find this out. 
      They have to chance upon a room or search physically until they find one. 
      We provide a listing of what rooms are open to make the lives of students easier. 
      In addition, students are able to replicate their schedules. 
      By finalizing their schedules, students gain access to Study Buddies where they can find other 
      people to study with (whether they are in the same class or taking a different section). 
      Not sharing is on the way along with a more interactive chat system. 
      A means for users to update erroneous information based on buildings has been enabled and, in the future, will be user moderated. 
      This application will surely increase the student’s knowledgebase of where they can prepare for their next exam or simply get the 
      help they need in a free space devoid of professor involvement.</p>
    
    <h3 class="header"> [Features] </h3>
    <u>Currently Live</u>
    <ul>
      <li>Signup</li>
      <li>Login/Logout</li>
      <li>Create and Finalize Schedule</li>
      <li>Find Classroom (All Rooms / Right Now / By Time)</li>
      <li>Find Study Buddies</li>
      <li>Message Study Buddies</li>
    </ul>
    <u>In Progress</u>
    <ul>
      <li>User Group Boards</li>
      <li>File Transfer between Users</li>
    </ul>
    
    <h3 class="header"> [Setup] </h3>
    <p>You can install the Open Classroom application by downloading the source code directly and unzipping the contents into a folder. 
      Alternatively, you can also fork project. As this is a MEAN stack application, you must <b>install the 4 dependencies:</b></p>
    <ol>
      <li> <b>MongoDB</b> (via website)</li>
      <li> <b>Angular 2.0</b> (via npm install)</li>
      <li> <b>ExpressJS</b> (via npm install)</li>
      <li> <b>NodeJS</b> (via website)</li>
    </ol>
    <p>Furthermore, you must <b>install ("ng install") the node_modules folder</b> into these 2 folders <b>using a terminal at that path location:</b></p>
    <ol>
      <li> "openclassroom" folder</li>
      <li> "openclassroom/angular-src" folder</li>
    </ol>
  
    <u>Populate your MongoDB Database with Classroom Content</u>
    <ol>
      <li> Navigate where you installed MongoDB (default location: C:\Program Files\MongoDB\Server\3.4\bin) and <b>run "mongod.exe"</b></li>
      <li> Navigate to the "scraper" folder</li>
      <li> In a terminal at this path location, run <b>"node scraper"</b></li>
    </ol>
  
    <u>Run the Open Classroom Application on Localhost</u>
    <ol>
      <li> Make sure <b>"mongod.exe"</b> is running (if not, run "mongod.exe" as seen above)</li>
      <li> Open a new terminal in the <b>"openclassroom"</b> folder</li>
      <li> Run <b>"nodemon"</b> (see dependencies) </li>
      <li> Open a new terminal in the <b>"openclassroom/angular-src"</b> folder</li>
      <li> Run <b>"ng serve"</b> (see dependencies) </li>
      <li> <b>Open a web browser</b> (Chrome, Edge, Firefox, etc.) and go to <b>"localhost:4200"</b> </li>
    </ol>
    
    <h3 class="header"> [Dependencies] </h3>
    <u>Open Classroom uses the MEAN stack</u>
    <ul>
      <li><a href="https://www.mongodb.com/download-center"> MongoDB </a></li>
      <li><a href="https://github.com/angular/angular-cli"> Angular 2.0</a></li>
      <li><a href="https://github.com/expressjs/express"> ExpressJS </a></li>
      <li><a href="https://nodejs.org/en/download/"> NodeJS </a></li>
    </ul>
    <i>(Angular 2.0 and ExpressJS are installed using "ng install". MongoDB and NodeJS shall be installed from their respective websites.)</i> 
    <br>
    <br>
    <u>Helpful Applications</u>
    <ul>
      <li> <a href="https://nodemon.io/">Nodemon</a> - an application that updates your project without having to restart "npm start" or "ng serve" </li>
      <li> <a href="https://studio3t.com/download/">Studio 3T</a> - a MongoDB client that displays the data in your database (when connected)</li>
    </ul>
  
    <h3 class="header"> [OpenClassroom Project Tree] </h3>
    <ul>
      <li>angular-src (where our angular project resides)
        <ul>
          <li>e2e (for testing)</li>
          <li>node_modules (dependencies installed based on package.json)</li>
          <li>src
            <ul>
              <li>app (location of webpage components)
                <ul>
                  <li>components (modules that are added to the website)</li>
                  <li>guards (protects routes)</li>
                  <li>services (makes post an get requests to aid component requests)</li>
                </ul>
              </li>
              <li>assets</li>
              <li>environments</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>config (where JSON Web Token strategy and database is located)</li>
      <li>models (where the MongoDB collection models and its associated functions reside)</li>
      <li>node_modules (dependencies installed based on package.json)</li>
      <li>routes (location of GET and POST request reside)</li>
      <li>scraper (where MongoDB database collections are created)
        <ul>
        <li>open-classroom-data (JSON file with pre-scraped buildings 2017)</li>
        </ul>
      </li>
    </ul>
  
    <h3 class="header"> [How do I contribute?] </h3>
    <p>If you want to contribute to the project, feel free to report bugs, download the source code, or fork the project.</p>
    <ul>
      <li>Source Code: <a href="https://github.com/jonathanpchan/openclassroom">https://github.com/jonathanpchan/openclassroom</a></li>
      <li>Issue Tracker: <a href="https://github.com/jonathanpchan/openclassroom/issues">https://github.com/jonathanpchan/openclassroom/issues</a></li>
    </ul>
  
    <h3 class="header"> [Support] </h3>
    <p>If you have any questions, feel free to contact us at <a href="openclassroom2017@gmail.com">openclassroom2017@gmail.com</a>.</p>
  </body>
</html>