.day
{
  display:inline-block;
}

.timeContainer{
  display: inline-block;
  padding-right: 50px;
}


.featurecontainer{
  display: inline-block;
  padding-right: 50px;
}

.vote
{
  display:inline-block;
}

.comment{
  display: inline-block;
}

.roomName{
  padding-bottom: 50px;
}

.commentcontainer{
  padding-bottom: 20px;
}
