
<h1> Room Name </h1>

<div class = "timesection">
<h2>Open Times </h2>

<div class = "daycontainer">
<h3 class = "day">Monday -  loop Open from "time" to "time" </h3><!--what day are we displaying here? -->
<p class = "vote">Monday Up</p>
<p class = "vote">Monday Down</p>
</div>

<div class = "daycontainer">
<h3 class = "day">Tuesday -  loop Open from "time" to "time" </h3><!--what day are we displaying here? -->
<p class = "vote">Tuesday Up</p>
<p class = "vote">Tuesday Down</p>
</div>

<div class = "daycontainer">
<h3 class = "day">Wednesday -  loop Open from "time" to "time" </h3><!--what day are we displaying here? -->
<p class = "vote">Wednesday Up</p>
<p class = "vote">Wednesday Down</p>
</div>

<div class = "daycontainer">
<h3 class = "day">Thursday -  loop Open from "time" to "time" </h3><!--what day are we displaying here? -->
<p class = "vote">Thursday Up</p>
<p class = "vote">Thursday Down</p>
</div>

</div>


<div class = "featuresection">

<h2>Features</h2>

<div class = "featurecontainer">
<h3 class = "feature">outlets</h3>
<p class = "vote">outlets upvote</p>
<p class = "vote">outlets downvote</p>
</div>

<div class = "featurecontainer">
<h3 class = "feature">White Board</h3>
<p class = "vote">White Board upvote</p>
<p class = "vote">White Board downvote</p>
</div>

</div>


<div class = "commentsection">

  <h2>Comments</h2>

  <div class = "commentcontainer">
  <p class = "comment"> comment 1</p>
  <p class = "vote">comment upvote</p>
  <p class = "vote">comment downvote</p>
  </div>

  <div class = "commentcontainer">
  <p class = "comment"> comment 2</p>
  <p class = "vote">comment upvote</p>
  <p class = "vote">comment downvote</p>
  </div>

</div>
