
<html>


<h1 class ="roomName">{{rooms.building}}-{{rooms.room}}</h1>

<body>

<div class = "timesection">
  <h2>Open Times </h2>

  <h2>Monday</h2>
  <div class = "dayContainer" *ngFor="let time of rooms.mon">
    <div class = "day">
      <h3 class = "timeContainer" >Open From {{timeFormat(time.st)}} - {{timeFormat(time.et)}}</h3>
      <p class = "uVote">Monday Up   - {{time.uVote}}</p>
      <p class = "dVote">Monday Down - {{time.dVote}}</p>
    </div>
  </div>

  <h2>Tuesday</h2>
  <div class = "dayContainer" *ngFor="let time of rooms.tue">
    <div class = "day">
      <h3 class = "timeContainer" >Open From {{timeFormat(time.st)}} - {{timeFormat(time.et)}}</h3>
      <p class = "uVote">Tuesday Up   - {{time.uVote}}</p>
      <p class = "dVote">Tuesday Down - {{time.dVote}}</p>
    </div>
  </div>

  <h2>Wednesday</h2>
  <div class = "dayContainer" *ngFor="let time of rooms.wed">
    <div class = "day">
      <h3 class = "timeContainer" >Open From {{timeFormat(time.st)}} - {{timeFormat(time.et)}}</h3>
      <p class = "uVote">Wednesday Up   - {{time.uVote}}</p>
      <p class = "dVote">Wednesday Down - {{time.dVote}}</p>
    </div>
  </div>

  <h2>Thursday</h2>
  <div class = "dayContainer" *ngFor="let time of rooms.thu">
    <div class = "day">
      <h3 class = "timeContainer" >Open From {{timeFormat(time.st)}} - {{timeFormat(time.et)}}</h3>
      <p class = "uVote">Thursday Up   - {{time.uVote}}</p>
      <p class = "dVote">Thursday Down - {{time.dVote}}</p>
    </div>
  </div>

</div>

<div class = "featureSection">
<h2>Features</h2>

  <div class = "featurecontainer">
    <div class = "feature">
      <h3 class = "featureName">outlets</h3>
      <p class = "uVote">outlets upvote - {{rooms.hasOutlets.uVote}}</p>
      <p class = "dVote">outlets downvote - {{rooms.hasOutlets.dVote}}</p>
    </div>
  </div>

  <div class = "featurecontainer">
    <div class = "feature">
      <h3>White Board</h3>
      <p class = "uVote">White Board upvote - {{rooms.whiteboard.uVote}}</p>
      <p class = "dVote">White Board downvote - {{rooms.whiteboard.dVote}}</p>
    </div>
  </div>

</div>


<div class = "commentSection">

  <h2>Comments</h2>

  <div class = "commentContainer" *ngFor = "let comment of rooms.comments">
    <p class = "comment">"{{comment.content}}"</p>
    <p class = "comomentUser">{{comment.username}} </p>
    <p class = "uVote">comment upvote - {{comment.uVote}}</p>
    <p class = "dVote">comment downvote - {{comment.dVote}}</p>
    <p class = "date">{{comment.date}}</p>
  </div>
</div>

</body>
</html>
