<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1 style="text-align: center">Pick A Course</h1>
    <select id="courseSelect" class="form-control" (change)="showBuddies()">
      <option selected hidden></option>
      <option *ngFor="let class of schedule"> {{class.name}} {{class.num}}</option>
    </select>

    <div id="buddylist" style="display: none" *ngIf="loaded">
      <h1 class = "courseTitle">Potential Study Buddies For {{courseBuddies.name}}</h1>
      <div class="studdyBuddies" *ngIf="loaded">
        <a *ngFor = "let buddy of courseBuddies?.buddies let i = index" (click)="message(i)" routerLink="/chat"><h3 class="buddy">{{buddy.name}}</h3></a>
      </div>
    </div>
  </body>
</html>