.table-title {
    background-color: #d7d1c5;
}

table {
    margin-left: 5px;
    margin-right: 5px;
    width: 99%;
}
  
td { 
    padding-left: 10px; 
    border: 5px #eee solid;
}

.left-column {
    position: sticky;
    background-color: inherit;
    left: 0px;
    z-index: 20;
    min-width: 100px;
}

.trash { 
    background-color: white; 
} 
 
.trash:hover { 
    color: red; 
} 

.finalize {
    border: none;
    text-align: right;
    padding-bottom: 5px;
}