body {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
}

h1 {
    text-align: center;
    font-weight: bold;
}

/* https://www.w3schools.com/tags/tag_hn.asp */
.table-title {
    background-color: #d7d1c5; 
}

.trash:hover { 
    color: red; 
} 

.trash { 
    background-color: white; 
} 
 
td { 
    padding-left: 10px; 
    border: 5px #eee solid; 
}