<!DOCTYPE html>
<html>
  <body>
    <div *ngIf="user && !add && !delete">
      <h1 id="title">About Me</h1>
      <ul class="list-group">
        <li class= "list-group-item">Name: {{user.name}}</li>
        <li class= "list-group-item">Email: {{user.email}}</li>
      </ul>
      <h1 id="title">My Schedule</h1>
      <table class="table-striped, table-bordered" style="width : 100%; border-color : solid black 1px">
        <thead></thead>
        <tbody>
          <tr class="table-title">
            <td>NAME</td>
            <td>CLASS #</td>
            <td>DAYS</td>
            <td>TIME</td>
            <td>LOCATION</td>
            <td>INSTRUCTOR</td>
          </tr>
          <ng-container *ngIf="schedule.length > 0">
            <tr *ngFor="let sched of schedule; let i = index;" colspan="6">
              <td>{{sched.name}} {{sched.courses[0].num}}</td>
              <td>{{sched.courses[0].sec}}</td>
              <td>{{sched.courses[0].day}}</td>
              <td>{{sched.courses[0].time}}</td>
              <td>{{sched.courses[0].location}}</td>
              <td>{{sched.courses[0].prof}}</td>
              <input type="button" class="btn btn-primary" style="width: 100%" value="-" (click)="clickDelete(i)">
            </tr>
          </ng-container>
          <ng-container *ngIf="!(schedule.length > 0)">
            <tr>
              <td colspan="6" style="text-align: left">No Courses</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <input type="button" class="btn btn-primary" style="width : 33%" value="Add Course" (click)="clickAdd()">
    </div>
      
    <div *ngIf="user && add && !delete">
      <app-course (afterConfirm)="onCourseAdd($event)"></app-course>
    </div>
    
    <div *ngIf="user && !add && delete">
      <h1>Are you sure you want to remove?</h1>
      <h2>{{deleteMessage}}</h2>
      <div>
        <input type="button" class="btn btn-primary" style="width : 33%" value="Yes" (click)="onCourseDelete(true)">
        <input type="button" class="btn btn-primary" style="width : 33%" value="No" (click)="onCourseDelete(false)">
      </div>
    </div>
  </body>
</html>

  