h1 {
    text-align: center;
    font-weight: bold;
}

/* https://www.w3schools.com/tags/tag_hn.asp */
.table-title {
    background-color: #d7d1c5; 
}

.trash { 
    background-color: white; 
} 
 
.trash:hover { 
    color: red; 
} 

/* TODO - Figure out how to make the schedule adapt in size. */
/* .tablecontainer {
    display: block;
    width : 100%;
    overflow: auto;
} */
  
td { 
    padding-left: 10px; 
    border: 5px #eee solid; 
    border-collapse: collapse;
}