<div *ngIf="user && !add && !delete">
    <!-- <h2 class="page-header">My Schedule</h2> -->
    <h1 style="text-align: center;" id="title">My Schedule</h1>
    <ul class="list-group">
      <li class= "list-group-item">Username: {{user.username}}</li>
      <li class= "list-group-item">Email: {{user.email}}</li>
    </ul>
    <table class="table-striped, table-bordered" style="width : 100%; border-color : solid black 1px">
      <thead></thead>
      <tbody>
        <tr>
          <td>NAME</td>
          <td>CLASS #</td>
          <td>DAYS</td>
          <td>TIME</td>
          <td>LOCATION</td>
          <td>INSTRUCTOR</td>
        </tr>
        <tr ng-if="schedule; else display" *ngFor="let sched of schedule; let i = index" colspan="6">
            <td>{{sched.name}} {{sched.courses[0].num}}</td>
            <td>{{sched.courses[0].sec}}</td>
            <td>{{sched.courses[0].day}}</td>
            <td>{{sched.courses[0].time}}</td>
            <td>{{sched.courses[0].location}}</td>
            <td>{{sched.courses[0].prof}}</td>
            <input type="button" class="btn btn-primary" style="width: 100%" value="-" (click)="clickDelete(i)">
          </tr>
        <ng-template #display>
          No Courses
        </ng-template>
      </tbody>
    </table>
  <input type="button" class="btn btn-primary" style="width : 33%" value="Add Course" (click)="clickAdd()">
</div>
  
<div *ngIf="user && add && !delete">
  <app-course (afterConfirm)="onCourseConfirm($event)"></app-course>
</div>

<div *ngIf="user && !add && delete" style="text-align: center">
  <h1>Are you sure you want to remove?</h1>
  <h2>{{deleteMessage}}</h2>
  <div>
    <input type="button" class="btn btn-primary" style="width : 33%" value="Yes" (click)="deleteClick(true)">
    <input type="button" class="btn btn-primary" style="width : 33%" value="No" (click)="deleteClick(false)">
  </div>
</div>
  